.box{

  height: 100vh;
  position: relative;
  overflow: hidden;
    .my_information{
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;  width: 100vw;
        color: black;
        padding:  2rem;
        width: 45vw;
        height: 65vh;
        z-index: 3;
        line-height: 1.5;
        margin-top: 10px;
        // display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100%;
        font-weight: 600;
        backdrop-filter: blur(3px);
        background-color: rgb(240, 202, 202);
        // background-image: linear-gradient(to top,#fe9158,#f641a7,#104da8);
        position: absolute;
        left: calc(5rem );
        top: 5rem;
        p{
            margin: 2% 0;
        }

    }
    .my_tech{
        display: block;
        margin-top:20px;
        img{
            width: 8%;
            margin-right: 12px;
        }
    }
}