.redirect {
    margin-top: 50px;
    margin-bottom: 50px;
    a {
      text-decoration: none;
      color: white;
    }
    .bt1 {
      @include background-linear(#fe9158, #f641a7);
    }
    .bt2 {
      @include background-linear(#f641a7, #104da8);
    }
    .bt3 {
      @include background-linear(#104da8, #fe9158);
    }
    span {
      margin-right: 20px;
      padding: 10px 30px;
    }
}