
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* $radius is the parameter of the function */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin rainbow-text{
    background-image: linear-gradient(to left, #15DB95, rgb(166,104,255));
        // background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
}
@mixin background-linear($color1, $color2){
    background: $color1;
    background: -webkit-linear-gradient(to right, $color1, $color2); 
    background: linear-gradient(to right, $color1, $color2);
}